@model ResourceBlender.Common.ViewModels.ResourceTranslationViewModel
@{
  ViewBag.Title = "Add a resource";
}
<h2>Add a new resource</h2>

@if (TempData["ErrorMessage"] != null)
{
  Html.RenderPartial("_Error", TempData["ErrorMessage"]);
}

@using (Html.BeginForm("AddResource", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  <div class="container">
    <div class="form-group">
      @Html.LabelFor(model => model.ResourceString)
      @Html.EditorFor(model => model.ResourceString, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.ResourceString, "", new { @class = "text-danger" })
    </div>
    @for (var i = 0; i < Model.AvailableLanguages.Count; i++)
    {
      @Html.HiddenFor(model => model.Translations[i].LanguageValue, new { Value = Model.AvailableLanguages[i]})
      <label>@(Model.AvailableLanguages[i] + " translation")</label>
      @Html.EditorFor(model => model.Translations[i].TranslationValue, new { htmlAttributes = new { @class = "form-control" } })
    }


    <input type="submit" value="Add" class="btn btn-success" />
    @Html.ActionLink("Back to homepage", "Index", "Resources", new { @class = "btn btn-info" })
  </div>
}