@model ResourceBlender.Common.ViewModels.ResourceTranslationViewModel
@{
  ViewBag.Title = "Update the current resource";
}

@if (TempData["ValidationMessage"] != null)
{
  Html.RenderPartial("_Error", TempData["ValidationMessage"]);
}

<h2>Update the current resource: @Model.ResourceString</h2>
<br />

@using (Html.BeginForm("Update", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
  @Html.HiddenFor(model => model.ResourceId)
  @Html.HiddenFor(model => model.ResourceString)
  <div class="container">
    @for (var i = 0; i < Model.Translations.Count; i++)
    {
      <label>@(Model.Translations[i].LanguageValue + " translation")</label>
      @Html.HiddenFor(model => model.Translations[i].TranslationId)
      @Html.EditorFor(model => model.Translations[i].TranslationValue, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.Translations[i], "", new { @class = "text-danger" })
      <br />
    }

    <input type="submit" value="Update" class="btn btn-success" />
    @Html.ActionLink("Back to homepage", "Index", "Resources", new { @class = "btn btn-info" })
  </div>
}

